.topScreen{
    -fx-background-color: rgb(227, 242, 253);
}
.boardContainer{
    -fx-background-color: rgb(227, 242, 253);
    -fx-content-display: center;
    -fx-padding: 10;
}
.boxGroup{
    -fx-background-color: orange;
}
