.root{
    -fx-alignment: center;
    -fx-padding: 40px;
    -fx-spacing: 10px;
    -fx-background-image: url("../images/bg-dragon.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.btn{
    -fx-padding: 10px 15px;
    -fx-border-radius: 15px;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
    -fx-min-width: 200px;
}
#startButton{
    -fx-background-color: #8EC680;
}
#exitButton{
    -fx-background-color: #D08282;
}
#startButton:hover{
    -fx-background-color: rgb(114, 161, 99);
    -fx-cursor: hand;
}
#exitButton:hover{
    -fx-background-color: #c07575;
    -fx-cursor: hand;
}